@import url('https://fonts.googleapis.com/css?family=Titillium+Web');

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
button {
  font-family: 'Titillium Web', Arial, Helvetica, sans-serif;
  color: white;
}

.App {
  text-align: center;
  background-color: #282c34;
}
