/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Titillium+Web");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
button {
  font-family: "Titillium Web", Arial, Helvetica, sans-serif;
  color: white;
}

.App {
  text-align: center;
  background-color: #282c34;
}

.topbar-section {
  display: flex;
  justify-content: space-between;
}
.topbar-section .nasa-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 12vmin;
  padding: 2rem 1rem;
  pointer-events: none;
}
.topbar-section .top-date {
  display: flex;
  justify-content: space-evenly;
  color: white;
  padding: 1rem 2rem;
  width: 20rem;
  min-width: 50%;
  max-width: 80%;
  height: 1.6rem;
}
.topbar-section .top-date .current-date {
  display: flex;
  align-items: center;
  width: 24rem;
  height: 1.6rem;
}
.topbar-section .top-date .current-date h5 {
  width: 18rem;
}
.topbar-section .top-date .datepicker {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 20rem;
  height: 1.6rem;
}
.topbar-section .top-date .datepicker h5 {
  width: 7rem;
}
.topbar-section .top-date .datepicker input {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.apod-section {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.apod-section h1 {
  font-size: 2rem;
  padding-bottom: 2rem;
}
.apod-section .apod-main {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 1rem 2rem 8rem 2rem;
}
.apod-section .apod-main .apod-content {
  display: flex;
  flex-direction: column;
}
.apod-section .apod-main .apod-content h3 {
  padding: 2rem;
  font-size: 1.2rem;
}
.apod-section .apod-main .apod-content p {
  padding: 0.5rem;
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
}
.apod-section .apod-main .apod-content .apod-buttons button {
  padding: 1rem;
  margin: 1rem;
  background-color: #0366b0;
}
.apod-section .apod-main .apod-content .apod-buttons button a {
  color: #fff;
  font-size: 0.8rem;
  text-decoration: none;
}
.apod-section .apod-main img {
  padding-left: 2rem;
  max-width: 50%;
}

.apod-grid {
  background-color: #444444;
  padding: 4rem;
}

/*# sourceMappingURL=index.css.map */
