
.App {
  text-align: center;
  background-color: #282c34;

  .apod-section {
    .apod-title {
      display: block;
    }
    .apod-main {
      display: flex;
      justify-content: center;
      padding: 1rem 2rem 8rem 2rem;
      // border: 1px solid red;

      .apod-desc {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
      .apod-buttons {
        button {
          padding: 1rem;
          margin: 1rem;
          background-color: rgb(3,102,176);
          font-size: 1rem;
          color: #fff;
        }
      }
      img {
        padding-left: 2rem;
        max-width: 50%;
      }
    }
  }

}
