  nav {
    display: flex;
    justify-content: space-between;
    .nasa-logo {
      animation: App-logo-spin infinite 20s linear;
      height: 12vmin;
      padding: 2rem 1rem;
      pointer-events: none;
    }
    .menu {
      display: flex;
      color: white;
      padding-right: 4rem;
      li {
        padding: 2rem;
        list-style: none;
      }
    }
  }


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
